<footer>
  <div id='socialIcons'>
    <a id='codepenLink' href="https://codepen.io/Thomason84/" target="blank" class="fab fa-codepen socialIcon">
      <span class="link">
        Codepen
      </span>
    </a>
    <a id='linkedinLink' href="https://www.linkedin.com/in/steven-thomason-34b00187" target="blank" class="fab fa-linkedin socialIcon">
      <span class="link">
        LinkedIn
      </span>
    </a>
    <a id='githubLink' href="https://github.com/thomason84" target="blank" class="fab fa-github socialIcon">
      <span class="link">
        Github
      </span>
    </a>
  </div>

  <p class='programmingSince'>Programming Since 2017</p>
</footer>

<!-- scripts  -->
<script src="/static/scripts/scripts.js"></script>
</body>
</html>
