<header>
  <div class="navBar" style="display: flex; -webkit-display: flex;">
    <p style='margin: 5px;'><a href="/">Home</a></p>
    <p style='margin: 5px;'><a href="/about">About</a></p>
    <p style='margin: 5px;'><a href="/projects">Projects</a></p>
  </div>
  <h1>{{pageTitle}}</h1>
</header>
