<header>
  <navbar class="navBar" style="display: flex; -webkit-display: flex;">
    <div id='navText'>
      <p><a aria-label='homeLink' href="/">Home</a></p>
      <p><a aria-label='aboutLink' href="/about">About</a></p>
      <p><a aria-label='projectsLink' href="/projects">Projects</a></p>
      <p><a aria-label='contactLink' href="/contact">Contact</a></p>
      <p><a aria-label='resumeDlLink' href="/files/StevenThomasonResumeDec2018.pdf" download>Resume</a></p>
    </div>
    <div id='navIcons'>
      <a aria-label='homeLinkIcon' href="/" class="navIcon fas fa-home"></a>
      <a aria-label='aboutLinkIcon' href="/about" class="navIcon fas fa-info-circle"></a>
      <a aria-label='projectsLinkIcon' href="/projects" class="navIcon fas fa-briefcase"></a>
      <a aria-label='contactLinkIcon' href="/contact" class="navIcon fas fa-mobile-alt"></a>
      <a aria-label='resumeDlLinkIcon' href="/files/StevenThomasonResumeDec2018.pdf" download class="navIcon far fa-file-alt"></a>
    </div>
  </navbar>
</header>
