<!DOCTYPE html>
<html>
  <head>
    <title>{{pageTitle}}</title>
    <meta name="google-site-verification" content="-2ZHTjD46TxHI1ccvpnwq5o-HDXD4_zZnlvypbuk1Pc" />
    <meta name="description" content="{{metaDesc}}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Steven Thomason">
    <meta name="description" content="Steven Thomason is a Web Developer local to Charleston, SC that specializes in Front End Web Development and SEO.">
    <link rel="stylesheet" href="static/fonts/stylesheet.css" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
    <link rel="canonical" href="https://portfolio-thomason.herokuapp.com/">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  </head>
  <body>
