{{> head}}
{{> header}}

<div class='mainBody'>
  <h1>{{title}}</h1>
  <section>
    <p class='sectiontext'>After serving 8 years in the Air Force, working 4 years as a military contractor and exploring
    several other carrer paths I discovered my passion for programming in 2017. I spend most of my free time learning modern programming languages and
    teaching myself new design tecqniques.</p>
    <p class='sectiontext'>As a web developer, I would prefer to work in a position where I will be challenged not only by the work itself, but by mentors
      that strive to stay on top of current languages and modern website design. I would prefer to work in an environment that has modern benefits such
      as remote work or in a clean modern office space with Apple hardware.</p>
  </section>
  <section class="responsive homeSections">
    <h2 class='sectionHeader'>Responsive Design and Development</h2>
    <img class="sectionImg" srcset="/images/responsive-small.png 600w,
                                 /images/responsive-medium.png  900w,
                                 /images/responsive-large.png  1200w"
                         sizes="(max-width: 600px) 550px,
                                 (max-width: 900px) 850px,
                                 1000px"
                         src="/images/responsive-large.png "
                         alt="example of responsive design showing same
                              site on multiple devices">
    <p class='sectiontext'>
      Specializing in responsive "mobile first" design and development practices, I
      strive to ensure each page I make is lightweight and feels at home on any size screen.
    </p>
    <h3 class='sectiontext approach'>Approach to Web Design/Development</h3>
    <p class='sectiontext'>
      I start all of my builds with a mobile interface in mind as over 60% of all traffic to every site I have
      overseen has been to mobile devices.
    </p>
    <p class='sectiontext'>
      By incorporating next gen graphic formats in conjunction with modern CSS tricks I typically reduce a pages
      normal loads speeds by over 60%!  This is important for all the landing pages where you might see an ad turned
      down due to excessive load time.
    </p>
    <p class='sectiontext'>
      D.R.Y. Dont repeat yourself. By writing/revising reuseable I am able to save time in the develpment and troubleshooting processes.
       I implemented this method of programming in my current position as the previous code base had many sections of the same code on every page (header, sidebar, footer, etc...).  By updating
      the code I was able to save us countless hours on troubleshooting alone!
    </p>
    <p class='sectiontext'>
      <span class='textLink'><a id='askWebDev' class='textLinks' href="/contact">Contact me</a></span> to learn more about
      how I can assist you in creating or improving your website.
    </p>
  </section>
  <section class="analytics homeSections">
    <h1 class='additionalSkills'>Additional Skills</h1>
    <h2 class='sectionHeader'>Google Analytics</h2>
    <img class="sectionImg" srcset="/images/analytics-small.jpg 600w,
                                 /images/analytics-medium.jpg 900w,
                                 /images/analytics-large.jpg 1200w"
                         sizes="(max-width: 600px) 550px,
                                 (max-width: 900px) 850px,
                                 1000px"
                         src="/images/analytics-large.jpg"
                         alt="tablet with a screen shot of Google Analytics">
    <p class='sectiontext'>
       There is no other way to get to know your online clients better than Google
       Analytics.  By observing and studing the incredible amount of information that
       Google Analytics contains you can easily where your efforts are making great strides
       and where they are coming back with weak, or negative, returns.
    </p>
    <p id='analyticsExp' class='sectiontext'>
       My experience in adding, maintaining, and analyzing data to/from Google Analytics has
       assisted in creating some of the best performing landing pages they have ever had. Before,
       our average landing page had over 70% bounce rate and 75% exit rates; now both bounce and
       exit rates are less than 50% with some being as low as 2%.
    </p>
    <p class='sectiontext'>
       For more information, <span class='textLink'><a id='askAnalytics' class='textLinks' href="/contact">Ask me how</a></span> I can help you
       understand your customer better today with Google Analytics.
    </p>
  </section>
  <section class="homeSections">
    <h2 class='sectionHeader'>Search Engine Optimization (SEO)</h2>

    <img class="sectionImg" srcset="/images/seo-small.jpg 600w,
                                 /images/seo-medium.jpg 900w,
                                 /images/seo-large.jpg 1200w"
                         sizes="(max-width: 600px) 550px,
                                 (max-width: 900px) 850px,
                                 1000px"
                         src="/images/seo-large.jpg"
                         alt="scatterplot of seo related terms">
    <a class='seoAttribute' href="https://www.welkin.com.hk/courses/seo/"><span class='textLink'>Image via welkin</span></a>
    <div class='seoTextDiv'>
      <p class='sectiontext'>
        SEO, everyone wants it but few know how to properly execute it.  There is no secret
        formula, but there are methods and tricks that are proven to increase impressions and
        untimately increase profits.
      </p>
      <p id='seoExp' class='sectiontext'>
        By utilizing Google Search Console and Google Analytics at my current company, I was able to raise our viewable
        impressions by over 70% which resulted in an increase in profits of 51%!  Everyone can do
        this, no programming experience required.
      </p>
      <p class='sectiontext'>
        <span class='textLink'><a id='askSeo' class='textLinks' href="/contact">Contact me today</a></span> to learn more about increasing
        your companys profitability.
      </p>
    </div>
  </section>
</div>
<script type="text/javascript" src='/static/scripts/about.js'>
{{> footer}}
