{{> head}}
{{> header}}

<section class='homeBody'>
  <div id="heroImg">
  </div>
  <div class="heroSection">
  </div>
  <div class="heroText">
      <h1 class='homeTitle'>{{title}}</h1>
      <p class='homeMessage'>{{screamIt welcomeMessage}}</p>
  </div>
</section>
<div class='mainBody homePage'>
  <section class="introText homeSections">
    <p class='sectiontext'>Hello, I am Steven Thomason.  A Web Developer that specializes in responsive web design, data analysis,
    SEO, and other areas of business development. I have a passion for programming and have professional experience in
    HTML5, CSS3, JavaScript, jQuery, ColdFusion, and Node.js.  <span class='textLink'><a class='textLinks' href="/about">Learn more about my experience</a></span></p>
  </section>
</div>

{{> footer}}
