{{> head}}
{{> header}}


<div class='mainBody'>
  <h1>{{title}}</h1>
  <p class='sectiontext'>I currently work at VetFriends.com as a Front End Web Developer and I am
      a co-founder of a local developer meetup group, <span><a class='textLink' href='https://charlestonhackers.com' target="_blank">Charleston Hackers</a></span>.  Currently we
     are working on an application that will showcase all of the free/cheap places to enjoy
      in the Charleston area.  Once complete I will add this here.</p>
  <p class='sectiontext'>Check out my <span><a class='textLink' href='https://github.com/thomason84' target="_blank">Github profile</a></span>  for a list of all the recent projects I am working on as
   well as to look at any of the source code from all of my projects.</p>
  <p class='sectiontext'>I created several fully operational applications during my training
  with Udacity, Udemy, and Google.  To see these older projects please visit my
  <span><a class='textLink' href='https://codepen.io/Thomason84/' target="_blank">Codepen profile</a></span> but keep in mind these are not maintained so errors are possible.</p>
</div>


{{> footer}}
